body {
width: inherit;
height:100%;
    background-image: url("background1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

h3{
text-align: center;
    margin: 0;
    color: white !important;
    font-family: serif;
}
.nav-link{
    padding: 0.5rem 3.5rem !important;
}

.nav-item a {
    text-decoration: none;
    color: #CACACA;

}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 10;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection{
  background: #fa4299;
  color: #fff;
}
.wrapper{
  overflow: hidden;
  max-width: 29%;
  background: rgba(255, 255, 255, 0.9);
  padding: 1.5% 1.2% 1.5% 1.2%;
  border-radius: 25px;
  border-width: 56;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  margin-top: 1.5%;
  margin-left: 1.7%;
  height: fit-content;
  max-height: 100%;
}
.wrapper .title-text{
  display: flex;
  width: 200%;
  margin-bottom: 0.47%;
  text-transform: uppercase;
}
.wrapper .title{
  width: 50%;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

input[type="time"]: placeholder-shown;

.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 13%;
  width: 100%;
  margin-top: 10px;
}

.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 17px;
  border-width: 3px;
  border: 1px solid #6C448B;
  font-size: 17px;
  transition: all 0.3s ease;
}

.form-check{
margin:0%}

.form-inner form .field input:focus{
  border-color: #fc83bb;
  box-shadow: none;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #b3b3b3;
}
.form-inner form .pass-link{
  margin-top: 0.5px;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 0.3%;
}

form .btn{
  height: max-content;
  width: 100%;
  border-radius: 17px;
  background-color: rgba(108, 68, 139, 0.7);
  overflow: hidden;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: rgba(108, 68, 139, 0.7);
}

form .btn:hover {
    background-color: rgba(108, 68, 139, 1.0);
    border-color: rgba(108, 68, 139, 0.7);
}

form button:focus {
    background-color: rgba(108, 68, 139, 1.0) !important;
    border-color: rgba(108, 68, 139, 0.7) !important;
    box-shadow: none !important;
    /*box-shadow: 12px 12px 2px 1px rgba(108, 68, 139, 0.3) !important;*/
}

form .btn .btn-layer{
  height: 100%;
  width: 100%;
  position: absolute;
  left: -100%;
  border-radius: 5px;
    margin-top: 11%;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
  left: 0;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0.1rem;
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
    font-size: 0.7rem;
    width: 100%;
}

.text-center{
    margin-bottom:11%
}
.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
.h-custom-2 {
height: 100%;
}
}

div.col a, p a {
    color: rgba(108, 68, 139, 1.0);
}

input[type="checkbox"]:checked {
    background-color: rgba(108, 68, 139, 1.0);
}

a:hover {
    color: rgba(108, 68, 139, 1.0) !important;
}